* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(250, 0%, 95%);
  --secondary-color: hsl(100, 20%, 75%);
  --font: prateek;
  --primary-font: primary-prateek;
  --secondary-font: secondary-prateek;
}

@font-face {
  font-family: prateek;
  src: url("font/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: primary-prateek;
  src: url("font/Arimo-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: secondary-prateek;
  src: url("font/ZalandoSansExpanded-VariableFont_wght.ttf");
}

.mainContainer {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 60%);
  /* border: 2px solid black; */
}

/* Hero Section */

.heroSection {
  position: relative;
  width: 100%;
  height: 600px;
  margin: auto;
  background-image: url("assets/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5% 0px;
  line-height: 60px;
  color: var(--primary-color);
  font-family: var(--font);
}
.heroSection::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  inset: 0;
}
.heroSection {
  position: relative;
  z-index: 1;
}

#welcome {
  font-size: 25px;
  opacity: 0.95;
  text-shadow: 4px 0px 8px hsl(0, 0%, 0%);
  letter-spacing: 5px;
}
#chh {
  font-size: 30px;
  opacity: 0.95;
  text-transform: uppercase;
  text-shadow: 3px 0px 3px hsl(0, 0%, 0%);
  letter-spacing: 8px;
}
#tourism {
  font-family: var(--secondary-prateek);
  font-size: 20px;
  opacity: 0.95;
  text-shadow: 0px 0px 8px hsl(0, 0%, 0%);
  letter-spacing: 6px;
}
